
element.style {
    font-family: wfont_157efe_d5241221cde24bff892578621f29f86f,wf_d5241221cde24bff892578621,orig_futura_book_bt;
}
style attribute {
    font-weight: bold;
}
style attribute {
    letter-spacing: 0.15em;
}
style attribute {
    font-size: 60px;
}
style attribute {
    text-shadow: rgb(0 0 0 / 40%) 0px 4px 5px;
}
style attribute {
    font-size: 60px;
    text-align: center;
}